<header id="hero">
  <div class="hero-img" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}">
    <div class="row">
      <div class="col-lg-6">
        <a href="/"><img src="{{site.data.settings.images.hero_logo_path}}" alt="{{site.data.settings.client.company}}" class="site-logo" /></a>
      </div>
      <div class="col-lg-6">
        <img src="/img/headshot1.png" class="header-headshot">
      </div>
    </div>
  </div>
</header>
