<div class="sponsor">

	<h5>{{site.data.settings.sponsor.header_text}}</h5>
	<hr>
	<div class="sponsor-logo">
		<a href="{{site.data.settings.sponsor.url_path1}}" target="_blank"><img src="{{site.data.settings.sponsor.logo_path1}}"/></a>
	</div>

	<hr>
	<div class="sponsor-logo">
		<a href="{{site.data.settings.sponsor.url_path2}}" target="_blank"><img src="{{site.data.settings.sponsor.logo_path2}}"/></a>
	</div>

	<hr>
	<div class="sponsor-logo">
		<a href="{{site.data.settings.sponsor.url_path3}}" target="_blank"><img src="{{site.data.settings.sponsor.logo_path3}}"/></a>
	</div>

	<hr>
	<div class="sponsor-logo">
		<a href="{{site.data.settings.sponsor.url_path4}}" target="_blank"><img src="{{site.data.settings.sponsor.logo_path4}}"/></a>
	</div>

	<hr>
	<div class="sponsor-logo">
		<a href="{{site.data.settings.sponsor.url_path5}}" target="_blank"><img src="{{site.data.settings.sponsor.logo_path5}}"/></a>
	</div>

	<hr>
	<div class="sponsor-logo">
		<a href="{{site.data.settings.sponsor.url_path6}}" target="_blank"><img src="{{site.data.settings.sponsor.logo_path6}}"/></a>
	</div>

	<hr>
	<div class="sponsor-logo">
		<a href="{{site.data.settings.sponsor.url_path7}}" target="_blank"><img src="{{site.data.settings.sponsor.logo_path7}}"/></a>
	</div>	

</div>
